name: "Subspeed"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *"

jobs:
  Run:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@master
      with:
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
        ref: ${{ github.head_ref }}

    - name: "Set python"
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"

    - name: "Install dependencies"
      run: |
        python -m pip install --upgrade requests

    - name: "Start run ..."
      run: |
        wget -O "Subspeed.zip" '${{ secrets.DOWNLOADURL }}'
        unzip -o "Subspeed.zip" -d "$(pwd)/"
        python Subspeed.py

    - name: Commit files ...
      run: |
        git config --local user.email "${{ secrets.EMAIL }}"
        git config --local user.name "${{ secrets.NAME }}"
        git checkout --orphan latest_branch
        git add .github
        git add sub
        git commit -m "Update sub"
        git branch -D main
        git branch -m main

    - name: Push changes ...
      uses: ad-m/github-push-action@master
      with:
        ssh: true
        branch: 'main'
        directory: '.'
        force: true